<h1>Allgemeine Geschäftsbedingungen (AGB)</h1>

<hr>

<p>Diese Allgemeinen Geschäftsbedingungen regeln die Nutzung unserer App.</p>

<hr>

<h2>Nutzungsbedingungen:</h2>
<p>Die Nutzung unserer App unterliegt diesen Nutzungsbedingungen. Mit der Nutzung stimmst du diesen Bedingungen zu.</p>

<hr>

<h2>Leistungen und Inhalte:</h2>
<p>Die in unserer App angebotenen Leistungen und Inhalte können sich ändern oder aktualisiert werden. Wir übernehmen keine Haftung für die Richtigkeit oder Vollständigkeit der bereitgestellten Informationen.</p>

<hr>

<h2>Haftungsausschluss:</h2>
<p>Wir übernehmen keine Verantwortung für Schäden oder Verluste, die durch die Nutzung unserer App entstehen. Dies schließt direkte, indirekte oder Folgeschäden ein.</p>

<hr>

<h2>Geistiges Eigentum:</h2>
<p>Das geistige Eigentum, einschließlich Marken, Logos und Inhalte, die in unserer App erscheinen, sind unser Eigentum oder das unserer Partner. Eine Nutzung ohne Zustimmung ist nicht gestattet.</p>

<hr>

<h2>Änderungen der AGB:</h2>
<p>Wir behalten uns das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern oder zu aktualisieren. Die Änderungen werden auf dieser Seite veröffentlicht.</p>

<hr>

<h2>Kontakt:</h2>
<p>Bei Fragen zu unseren Allgemeinen Geschäftsbedingungen kontaktiere uns bitte unter [Deine Kontaktdaten].</p>

<hr>
