<h1>Impressum</h1>

<hr>

<h2>Verantwortlich für den Inhalt dieser App:</h2>
<p>DartsHub</p>
<p>Brucknerstraße 53</p>
<p>Botnang 70195</p>
<p>Deutschland</p>

<hr>

<h2>Kontakt:</h2>
<p>E-Mail: HiemerDevelopment@gmail.com</p>
<p>Telefon: +49 1573 488 32 16</p>

<hr>

<h2>Vertreten durch:</h2>
<p>Stefen Hiemer</p>

<hr>

<h2>Haftungshinweis:</h2>
<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<hr>

<h2>Urheberrechtshinweis:</h2>
<p>Die durch uns erstellten Inhalte und Werke auf dieser App unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen unserer schriftlichen Zustimmung.</p>

<hr>

<h2>Datenschutz:</h2>
<p>Alle Informationen zum Datenschutz findest du in unserer Datenschutzerklärung.</p>

<hr>
