<h1>Datenschutzerklärung</h1>

<hr>

<p>Diese Datenschutzerklärung klärt darüber auf, wie wir personenbezogene Daten verwenden und schützen, die während der Nutzung unserer App erhoben werden.</p>

<hr>

<h2>Welche Daten wir erheben:</h2>
<p>Wir erheben und speichern keine personenbezogenen Daten, es sei denn, diese werden von dir freiwillig bereitgestellt. In einigen Fällen können bestimmte nicht-personenbezogene Informationen erfasst werden, die keine Rückschlüsse auf deine Identität zulassen.</p>

<hr>

<h2>Wie wir deine Daten verwenden:</h2>
<p>Die von uns erhobenen Informationen werden ausschließlich verwendet, um die Leistung und Funktionalität unserer App zu verbessern. Wir verwenden keine personenbezogenen Daten zu Werbezwecken oder geben sie an Dritte weiter.</p>

<hr>

<h2>Cookies:</h2>
<p>Unsere App verwendet keine Cookies oder ähnliche Technologien zur Datenerfassung.</p>

<hr>

<h2>Externe Links:</h2>
<p>Unsere App kann Links zu externen Websites enthalten, auf die wir keinen Einfluss haben. Für den Inhalt und die Datenschutzpraktiken dieser Websites sind ausschließlich deren Betreiber verantwortlich.</p>

<hr>

<h2>Änderungen unserer Datenschutzrichtlinie:</h2>
<p>Wir behalten uns das Recht vor, diese Datenschutzerklärung zu ändern oder zu aktualisieren. Bitte überprüfe diese Seite regelmäßig auf Änderungen.</p>

<hr>

<h2>Kontakt:</h2>
<p>Wenn du Fragen oder Bedenken bezüglich unserer Datenschutzerklärung hast, kontaktiere uns bitte unter [Deine Kontaktdaten].</p>

<hr>
