:host {
  width: 100%;
  padding: 2rem;
}

form {
  label {

  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    padding: 1rem;
  }
}

