.container {
  width: 100%;
  position: relative;
  background: linear-gradient(170deg, rgb(10, 90, 50), #011c01);
  box-shadow:
    inset 4px 4px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #808080;
  a {
    width: 100%;
    margin: 0;
    min-height: auto;
    text-decoration: none;
    display: flex !important;
    flex-direction: row;
    justify-content: start;
    gap: .5rem;
    padding: 1rem;

    text-align: left;
    svg {
      path {
        fill:  white;
      }
    }
  }
  h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
