:host {
  overflow-x: hidden;
  max-width: 100%;
}

ul {
   font-weight: normal;
   width: 100%;
   flex-wrap: wrap;
   display: flex;
   margin-top: 0;
  padding: 1rem;
   li {
     width: calc(100% / 10);
     list-style-type: none;
     text-decoration: none;
     padding: 1px;
     box-sizing: border-box;
     a {
       font-size: .875rem;
       margin: 0;
       padding: .5rem .25rem;
       text-decoration: none;
       display: flex;
       aspect-ratio: 1/1;
       justify-content: center;
       align-items: center;
       background-color: rgba(200, 200, 200, .05);
       transition: background-color .33s ease, box-shadow .33s ease;
       position: relative;
       box-sizing: border-box;
       min-height: auto;
       &:hover {
         background-color: rgba(200, 200, 200, .1);
         box-shadow: 0 0 32px 0 black;
         z-index: 999;
       }
     }
   }
 }
