<app-back-to-main />

<div class="number-panel">
  <a *ngIf="number != 1" [routerLink]="['/number/' + (number - 1)]" class="navigation backwards">{{ number - 1}}</a>
  <h2 class="number">{{ number }}</h2>
  <a  *ngIf="number != 180" [routerLink]="['/number/' + (number + 1)]" class="navigation forwards">{{ number + 1}}</a>
</div>

<hr>
<ul *ngFor="let checkout of [numbers[number]['single'],numbers[number]['double'], numbers[number]['triple']], let i = index">
  <li>
    <h3 *ngIf="i === 0">Single Out</h3>
    <h3 *ngIf="i === 1">Double Out</h3>
    <h3 *ngIf="i === 2">Triple Out</h3>
  </li>
  <li *ngFor="let amountOfDarts of checkout">
    <div *ngFor="let possibility of amountOfDarts" class="throw-darts">
     <span *ngFor="let dart of possibility" class="dart-throw"  [attr.data-target]="dart.includes('t')  ? 'triple' : dart.includes('d') ? 'double' : 'single'">
         {{ dart }}
     </span>
    </div>
  </li>
</ul>

