<app-back-to-main />

<div class="number-panel">
  <a *ngIf="number != 1" [routerLink]="['/number/' + (number - 1)]" class="navigation backwards">{{ number - 1}}</a>
  <h2 class="number">{{ number }}</h2>
  <a  *ngIf="number != 180" [routerLink]="['/number/' + (number + 1)]" class="navigation forwards">{{ number + 1}}</a>
</div>

<hr>
<h3>Single Out</h3>

<hr>
<h3>Master Out</h3>

<hr>
<h3>Double Out</h3>


<ul>
 <li  *ngIf="numbers['doubleOut'][number]['1']['1'] != null">
   <div class="throw-darts">
     <span  class="dart-throw">
       {{ numbers['doubleOut'][number]["1"]["1"]  }}
     </span>
   </div>
 </li>

  <li  *ngIf="numbers['doubleOut'][number]['1'][1] != null">
    <div class="throw-darts">
      <span class="dart-throw">
            {{ numbers['doubleOut'][number]["2"]["1"]  }}
      </span>
      <span class="dart-throw">
            {{ numbers['doubleOut'][number]["2"]["2"]  }}
      </span>
    </div>
  </li>

  <li *ngIf="!numbers['doubleOut'][number]['2']['1']">
    <div *ngIf="numbers['doubleOut'][number]['3'][0]">
      <div *ngFor="let check of numbers['doubleOut'][number]['3']" class="throw-darts">
        <span class="dart-throw">
                {{ check[1] }}
             </span>
        <span class="dart-throw">
                {{ check[2] }}
             </span>
        <span class="dart-throw">
                {{ check[3]}}
        </span>
      </div>
    </div>

      <div *ngIf="!numbers['doubleOut'][number]['3'][0] && numbers['doubleOut'][number]['3']['1']" class="throw-darts">
        <span class="dart-throw">
            {{ numbers['doubleOut'][number]["3"]["1"]  }}
      </span>
        <span class="dart-throw">
            {{ numbers['doubleOut'][number]["3"]["2"]  }}
      </span>
        <span class="dart-throw">
            {{ numbers['doubleOut'][number]["3"]["3"]  }}
      </span>
      </div>
  </li>
</ul>

