* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(34, 34, 34);
  background: linear-gradient(145deg,  rgb(1, 31, 6) 0%, rgba(0, 0, 0, 1) 50%, rgb(30, 1, 1) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}


.d-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
